@import "tailwindcss";


@theme {
  /* Your extended colors */
  --color-primary: #6495ED;

  /* Your custom grid templates */
  --grid-cols-solution: minmax(100px, auto) 1fr;
  --grid-cols-news: 1fr 3fr 1fr;
}@theme {
  --color-primary-500: #3B82F6;
  --spacing-18: 4.5rem;
  /* other theme customizations */
}
